<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout 3</title>
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/layout3.css">
</head>

<body>
  <header>
    <a href="">Logo</a>
    <nav>
      <ul>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="recomendado">
      <div class="dog-principal">
        <img src="imgs/dog1.jpeg" alt="cachorro">
        <p>Como criar Sites</p>
      </div>
      <div class="dogs-small">
        <div>
          <img src="imgs/dog2.jpeg" alt="cachorro">
          <p>Recomendado 1</p>
        </div>
        <div>
          <img src="imgs/dog2.jpeg" alt="cachorro">
          <p>Recomendado 2</p>
        </div>
        <div>
          <img src="imgs/dog2.jpeg" alt="cachorro">
          <p>Recomendado 3</p>
        </div>
        <div>
          <img src="imgs/dog2.jpeg" alt="cachorro">
          <p>Recomendado 4</p>
        </div>
      </div>

    </section>

  </main>
</body>

</html>