<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>layout 2</title>
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/layout2.css">
</head>

<body>
  <header>
    <a href="">Logo</a>
    <nav>
      <ul>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <section class="dogs">
      <div class="dogs-column">
        <div>
          <img src="imgs/dog3.jpeg" alt="">
          <p>Cachorro 1</p>

        </div>
        <div>
          <img src="imgs/dog3.jpeg" alt="">
          <p>Cachorro 2</p>
        </div>
        <div>

          <img src="imgs/dog3.jpeg" alt="">
          <p>cachorro 3</p>
        </div>
      </div>

      <div class="second-column">
      
      <div class="cachorro-principal">
            <img src="imgs/dog4.jpeg" alt="">
            <p>Propaganda</p>
          </div>
          <div class="dogs-center">
            <div>
              <img src="imgs/dog3.jpeg" alt="">
              <p>Cachorro 1</p>
            </div>
            <div>
              <img src="imgs/dog3.jpeg" alt="">
              <p>Cachorro 2</p>
            </div>
            <div>
    
              <img src="imgs/dog3.jpeg" alt="">
              <p>cachorro 3</p>
            </div>

          </div>
          <div class="dogs-right">
            <div>
              <img src="imgs/dog4.jpeg" alt="">
              <p>Cachorro3</p>
            </div>
            <div>
              <img src="imgs/dog3.jpeg" alt="">
              <p>Cachorro 1</p>
    
            </div>
            <div>
              <img src="imgs/dog3.jpeg" alt="">
              <p>Cachorro 2</p>
            </div>

          </div>
        
      </div>

    </section>
   

  </main>

</body>

</html>